* {
    font-family: 'Roboto', sans-serif;
}

i {
    color: #fe5e41;
}

/* Custom Colors */
/* Primary */
.custom-text-primary {
    color: #fe5e41;
}

/* Secondary */
.custom-text-secondary {
    color: #fffafb;
}

/* Sub - Second */
.custom-text-sub-second {
    color: #acc0de;
}

/* Custom BG Color */
.custom-bg-color {
    background: #0a192f;
}

/* Custom Navbar */
.custom-navbar-bg {
    /* background: #0a192f; */
    background: rgba(rgba(10, 25, 47, 0.1))
}

.custom-a {
    color: #acc0de;
    text-decoration: none;
}
.custom-a:hover {
    color: #fe5e41;
    text-decoration: none;
}

/* Custom Secondary Font */
.custom-secondary-font {
    font-family: 'Source Code Pro', monospace;
}

/* Landing Page BG */
.bg-image {
    background: url(./images/bg-3.png) no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: 54%;
    min-height: 100vh;
}

/* Landing Page Content */
.custom-padding-top {
    padding-top: 200px;
}

.custom-padding-top2 {
    padding-top: 120px;
}

.custom-h1 {
    font-weight: 900;
    font-size: 3em;
}

.custom-h2 {
    font-weight: 600;
    font-size:2.4em;
}

.custom-h3 {
    font-weight: 700;
    font-size: 2.4em;
}

.custom-h4 {
    font-weight: 700;
    font-size: 1.5em;
}

.custom-h6 {
    font-weight: 400;
    font-size: 1em;
    letter-spacing: -1px;
}

.custom-landing-p {
    font-size: 1.1em;
    font-weight: 400;
}

.custom-button {
    border: 2px solid #fe5e41;
    background-color: rgba(0,0,0,0);
    color: #fe5e41;
    padding: 17px 40px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    border-radius: 60px;
}

.custom-button:hover{
    background-color: rgba(254, 94, 65, 0.2);
}

/* About Me */
#about-me {
    min-height: 100vh;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li i {
    color: #acc0de;
    margin: 0 15px;
}

li i:hover {
    color:#fe5e41;
    cursor: pointer;
}
























/* Media Query */
@media only screen and (min-width: 768px) {

    /* Navbar */
    .navbar-brand {
        margin-right: 25px;
    }
    .nav-item {
        margin-left: 20px;
        margin-right: 20px;
    } 
     /* Landing Page */
     #landing-page {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 992px) {
        /* Landing Page */
        .custom-landing-p {
            width: 70%;
        }

    /* Landing Page */
     #landing-page {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 1200px) {
        /* Landing Page */
        #landing-page {
            font-size: 1.37rem;
        }

        .custom-h1 {
            font-size: 3.4em;
        }

        .custom-padding-top {
            padding-top: 250px;
        }

        .custom-landing-p {
            width: 60%;
        }
}



